/*-------------------- variabili ------------------------*/
:root {
    --dark-white: rgb(237, 235, 235);
    --blue: rgb(0, 124, 212);
    --dark-blue: rgb(0, 94, 161);
    --gray: gray;

    --font-size-large: 4vh;
    --font-size-normal: 2.3vh;
    --font-size-small: 1.7vh;
    --font-family-normal: Arial, Helvetica, sans-serif;
}

/*------------------- altro ----------------------*/

* {
    font-size: inherit;
    font-family: inherit;
    color: inherit;
}

html, body {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

button.pwd-button.active::before {
    content: "+";
}
button.pwd-button::before {
    content: "x";
}

/*------------------ header ------------------*/

header {
    background-color: var(--blue);
    color: white;
    height: 17vh;
    border-bottom: 1px solid white;
    
    display: grid;
    grid-template-columns: auto auto;

    font-size: var(--font-size-small);
    font-family: var(--font-family-normal);
}
header #utente_zone {
    position: relative;
    gap: 0.5vw;
    margin: 1vh 0.5vw;
    flex-direction: row-reverse;
}
header #utente_zone p {
    margin: 0px;
}
header #imagezone {
    gap: 1vw;
    margin: 1vh 0.5vw;
}
header #logo {
    width: 7vw;
}
header #logoname{
    width: 20vw;
}
header #img_utente {
    width: 3vw;
    cursor: pointer;
}

/*------------------- nav --------------------*/

nav {
    background-color: var(--blue);
    
    color: white;
    font-size: var(--font-size-normal);
    font-family: var(--font-family-normal);
}
nav ul {
    margin: 0px;
    padding: 0.5vh 0.25vw;
    list-style: none;

    display: flex;
    flex-direction: row-reverse;
    gap: 0.5vw
}
nav a, nav span {
    display: block;
    padding: 10px;

    color: inherit !important;
    text-decoration: none;
}
nav span, nav a:hover {
    transition: 0.2s;
    background-color: var(--dark-blue);
    border-bottom: 2px solid white;
}

/*------------------- main -------------------*/
main {
    margin: 1vh 0.5vw;
}

/*------------------ footer ------------------*/

footer {
    margin-top: auto;
    background-color: var(--gray);
    color: white;
    min-height: 17vh;
    font-size: 100%;

    border-bottom: 1px solid white;

    display: grid;
    grid-template-columns: auto auto;
}

/*------------------- form -------------------*/
form legend {
    display: none;
}
form input[type="submit"] {
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    padding: 1vh 0vw;
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
    transition: 0.4s;

    color: rgb(104, 85, 224);
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(104, 85, 224, 1);
}
form input[type="submit"]:hover {
    color: white;
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
    background-color: rgba(104, 85, 224, 1);
}
form fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    gap: 1vh;
}
form label {
    position: relative;
    height: 0px;
    margin-top: 1vh;
    top: -1vh;
    left: -0.5vw;
}
form a:link, a:visited {
    color: blue;
}

form.login {
    background-color: white;
    padding: 10vh 2vw;
    border-radius: 20px;
    box-shadow: 0px 0px 20px gray;

    font-size: var(--font-size-normal);
    font-family: var(--font-family-normal);
}
form.login input[type="submit"] {
    margin-left: 3vw;
    margin-right: 3vw;
}
form.login fieldset {
    gap: 2vh;
}
form.login #logoname{
    width: 60%;
}
form.login #imagezone {
    width: 22vw;
}


form.sign-up {
    background-color: white;
    padding: 2vh 1vw;
    border-radius: 20px;
    box-shadow: 0px 0px 20px gray;

    min-height: 70vh;
    width: 35vw;

    display: flex;
    flex-direction: column;

    font-size: var(--font-size-normal);
    font-family: var(--font-family-normal);
}
form.sign-up fieldset {
    gap: 3vh
}
form.sign-up img {
    display: inline-block;
}
form.sign-up input[type="submit"] {
    margin-left: 10vw;
    margin-right: 10vw;
}
form.sign-up #imagezone {
    padding-bottom: 2vh;
    justify-content: center;
}
form.sign-up #logo {
    width: 6vw;
}
form.sign-up #logoname{
    width: 20vw;
}
form.sign-up #fieldset_dati {
    margin-top: 2vh;
    padding-bottom: 3vh;
}
form.sign-up #fieldset_password {
    margin-top: 1vh;
}


/*-------------------- classi generiche ------------------*/

.phperror {
    background-color: rgba(255, 0, 0, 0.419);
    border-top: 2px red solid;
    border-bottom: 2px red solid;
    padding: 10px;
    text-align: center;
}

.full-display {
    height: 100vh;
    width: 100vw;
    margin: 0px;
}

.column-style {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.row-style {
    display: flex;
    flex-direction: row;
    align-items: center;
}

*:has(> .center) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.dark-white-bg {
    background-color: var(--dark-white);
}

.small-text {
    font-size: var(--font-size-small);
}
.xl-text {
    font-size: var(--font-size-large);
}

.border-left {
    border-left: 2px solid gray !important;
}
.border-bottom {
    border-bottom: 2px solid gray !important;
}


.bordertest { /*da rimuovere */
    border: 10px solid red !important;
}